[submodule "custom_navigator"]
	path = custom_navigator
	url = https://github.com/DJDoubleD/custom_navigator.git
[submodule "external_path"]
	path = external_path
	url = https://github.com/DJDoubleD/external_path.git
[submodule "marquee"]
	path = marquee
	url = https://github.com/DJDoubleD/marquee.git
[submodule "move_to_background"]
	path = move_to_background
	url = https://github.com/DJDoubleD/move_to_background.git
[submodule "scrobblenaut"]
	path = scrobblenaut
	url = https://github.com/DJDoubleD/Scrobblenaut.git
[submodule "liquid_progress_indicator_v2"]
	path = liquid_progress_indicator_v2
	url = https://github.com/PetitPrinc3/liquid_progress_indicator_v2.git
[submodule "figma_squircle"]
	path = figma_squircle
	url = https://github.com/SedlarDavid/figma_squircle.git
[submodule "open_filex"]
	path = open_filex
	url = https://github.com/mufassalhussain/open_filex.git